LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=langchain-py-essentials
# If you are on the EU instance:
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# I.E. Google AI Studio API Key.
GOOGLE_API_KEY=your-google-api-key 
TAVILY_API_KEY=your-tavily-api-ky
TELEGRAM_API_KEY=your-telegram-api-key
